RewriteEngine on

# redirect all but specific urls to index.html
RewriteCond %{REQUEST_FILENAME} !img/
RewriteCond %{REQUEST_FILENAME} !js/
RewriteCond %{REQUEST_FILENAME} !assets/
RewriteCond %{REQUEST_FILENAME} !google770ec7f03e0434d8.html
RewriteCond %{REQUEST_FILENAME} !app.block
RewriteCond %{REQUEST_FILENAME} !music/
RewriteRule . index.html [L]
